<div class="splash">
  <h1>Welcome to Budget Buddy</h1>
  <p>Budget Buddy is your trusted financial companion on the journey to financial freedom and stability...</p>
  <div class="buttons">
    <%= link_to "Sign Up", class: "btn btn-primary" %>
    <%= link_to "Log In", class: "btn btn-secondary" %>
  </div>
</div>
