.splash {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
